// ----light

$body: #fffadd;
$background: #ffffff;
$textcolor: #1c1c1c;
$secondary-color: #ebdf9f;
$text-color: #000;
$text-color-light: #909090;
$primary-color: #f5a524;
$inputs: #fff;

// ----dark

$body-dark: #555555;
$background-dark: #5c5471;
$textcolor-dark: #ffffff;
$secondary-color-dark: #40405a;
$text-color-dark: #d3d1d1;
$primary-color-dark: #701fb2;
$inputs-dark: rgb(31, 31, 31);
