.select-theme {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #7c7c7c;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 1px 5px 25px 9px rgba(34, 60, 80, 0.2);
}
